package com.stellarfs.config;

import lombok.extern.slf4j.Slf4j;
import org.springframework.beans.factory.annotation.Value;
import org.springframework.context.annotation.Configuration;

import javax.annotation.PostConstruct;

@Slf4j
@Configuration
public class OAuth2Config {

    @Value("${spring.security.oauth2.client.registration.google.client-id}")
    private String clientId;

    @Value("${spring.security.oauth2.client.registration.google.client-secret}")
    private String clientSecret;

    @PostConstruct
    public void init() {
        log.info("OAuth2 Configuration:");
        log.info("Client ID: {}", clientId);
        log.info("Client Secret: {}", clientSecret.substring(0, 4) + "****");
    }
} 